body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 19px;

}
a:hover, a:focus{
    font-style:italic;
    color:blue;
}


header h1 {

    font-size: 175%;
    color:orange;
    text: indent 30px;

}


header h2 {

    font-size: 130%;
    color:#2e399e;
    text-indent: 30px;
}


