body {
    background-image: url("SHSU logo.png")
background-color: blue

}

h1 {
color: blue;


}

h2{
color: blue;

}
  footer {
        clear: both;
        border-top: 2px solid maroon;
          border: 1px solid black;
          text-align: center;
    }


