html {
    background-image: url("images/SHSU logo.png");
}


body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 95%;
      margin:15px auto;
       padding: 15px 1.5em ;
   border: 1px solid green; 
    border-radius: 25px; 
    box-shadow: 5px 5px 0 0; 
    background-attachment: fixed;
    background-image: url("/images/SHSU logo.png") right repeat-y;;


}

h1 {
color: blue;


}

h2{
color: blue;
}

 aside {
    width: 75%;
    float: right;
    background-color: #a4d3e6; 
        padding: 13px;       
    text-align: left;
    }


article {
    clear: left;
    width: 75%;
    float: left;
    column-count: 3;
    column-rule: 6px dotted rgb(25, 98, 180);
    column-gap: 2em;
    margin-left: 2em;
}


  footer {
        clear: both;
        border-top: 2px solid maroon;
          border: 1px solid black;
          text-align: center;
    }


