html {
    background-image: linear-gradient(to bottom, white 0%, #facd8a 100%);
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 1000px;
    background-color: azure;
    margin:15px auto 1.5em ;
    

}
a:hover, a:focus{
    font-style:italic;
    color:blue;
}


header h1 {

    font-size: 175%;
    color:orange;
    text: indent 30px;

}


header h2 {

    font-size: 130%;
    color:#2e399e;
    text-indent: 30px;
}

header img {
    float: left;
}

.shadow {
    text-shadow: 2px 2px 2px rgb(red, green, blue);
}


main {
    clear: both;
}
